:root {
    --color1: #FFFFFF;
    --size: 156px;
    --size-one: 24px;
    --size-two: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1440px;
    height: 2592px;
    background: var(--color1);
    margin: auto;
    color: #434455;
}

.none {
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    background-color: var(--color1);
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
    margin-bottom: 25px;
}

.nav {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-left: 147px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 332px;
}

.logo {
    width: 44px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    padding-left: var(--size);
}

.hd {
    padding-top: 24px;
    padding-bottom: 24px;

}

.logo-web {
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
}

.address {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* section one */

.section-one {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    top: 72px;
    margin-bottom: 120px;
}

.content-section-one {
    padding-left: 472px;
    padding-right: 472px;
    padding-top: 188px;
    padding-bottom: 48px;
    color: var(--color1);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.buton-section-one {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color1);
    text-align: center;
    margin-left: 636px;
    margin-right: 635px;
    margin-bottom: 308px;

}

/* section two */

.section-two {
    margin-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
    display: flex;
}

.content-section-two {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
    margin-bottom: 8px;
}

/* section three */

.section-three {
    margin-bottom: 120px;
}

.content-section-three {
    width: 323px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 72px;
    padding-left: 559px;
    padding-right: 558px;
}

.section-three-img {
    display: flex;
    padding-left: var(--size);
}

.section-three-box {
    margin-right: var(--size-one);
}

/* section four */

.section-four {
    background: #F4F4FD;
    width: 1440px;
    height: 732px;
}

.content-section-four {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
    padding-left: 639px;
    padding-right: 639px;
    padding-top: 120px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.content-section-four-text {
    display: flex;
    margin-left: var(--size);
}

.content-section-four-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
}

.content-section-four-profession {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455
}

.test {
    width: 264px;
    height: 380px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-left: var(--size-one);
}

.test-one {
    width: 264px;
    height: 380px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* footer */

.footer {
    background: #2E2F42;
    width: 1440px;
    height: 312px;
    top: 2280px;
}

.footer-text {
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2420px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-left: var(--size);
}

.ft {
    padding-top: 100px;
    margin-bottom: 16px;
    color: #4D5AE5;
}

.logo-web-ft {
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    flex: none;

}

/*  */

.retreat {
    margin-right: var(--size-two);
}